
  html,body {width: 100%; height: 100%; padding: 0; margin: 0; color: #333333;}
 
  body {background: #000000; font-family: Helvetica,Trebuchet MS, Verdana, Arial; font-size: 20px; }
  body, html {background: #000000;}
  div, p, h1, h2 {padding: 0; margin: 0;}
 
  a {color: #333333; text-decoration: none; padding: 0; outline: none; }
  
 
  p {padding: 0 0px}
 
  h1 {font-size: 44px; padding:0; margin: 0; padding-top: 25px; text-transform: uppercase;}
  h2 {font-size: 24px;}

  #god, #godMenu {width: 100%; height: 100%; background: #000000}
  #god { padding-left: 0px;
  }

  #container, #containerMenu {
    
	margin: 0 auto;
	width: 80%;
	border: solid #030303;
	border-width: 0 2px;
	background: #000000;
	padding: 0 30px;
  }

  #images {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;

  }



#containerMenu {
	height: 200px;
	background: #333333;

}

