
  html,body {width:95%; height: 95%; padding: 0; margin: 0 auto; color:   #4b5c74;}
 
  body { font-family: Helvetica,Trebuchet MS, Verdana, Arial; font-size: 20px; }
  body, html {background:  #000000;}
  div, p, h1, h2 {padding: 0; margin: 0;}
 
  a {color:  #10151b; text-decoration: none; padding: 0; outline: none; }
  
 
  p {padding: 0 0px}
 
  h1 {font-size: 44px; padding:0; margin: 0; padding-top: 25px; text-transform: uppercase;}
  h2 {font-size: 24px;}

 
  #container, #containerMenu {
    
	margin: 60px auto;
	width: 640px;
  border-radius: 30px;
  border-style: outset;
  border-width: 5px;
	border-color: rgb(110, 161, 202);
	
  background: rgb(219, 219, 219);
   
    
	padding: 30px 30px;
  
    
  }

  #images {
    display: flex;
    justify-content: center;
    
    
    

  }



#containerMenu {
	height: 200px;
	background:  #555a64;
    

}

